body {
    font-family: Arial, Tahoma;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #4183c4;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

a:hover {
    border-bottom: 2px dotted #4183c4;
}

section#active-area {
    position: relative;
    background: #fff392;
    border: 3px dashed #F00;
    width: 80%; height: auto;
    margin: 0 auto;
    margin-top: 100px;
    padding: 230px 0;
    color: #F00;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}